Roselyn Coales <github@spangle.org.uk> <joshua@coales.co.uk>
Roselyn Coales <github@spangle.org.uk> <joshua@coales.uk>
Roselyn Coales <github@spangle.org.uk> <dr-spangle@dr-spangle.com>
Roselyn Coales <github@spangle.org.uk> <joshua@infinitybas.com>
Roselyn Coales <github@spangle.org.uk> <dr-spangle@EVE-MACHINE.default>
Roselyn Coales <github@spangle.org.uk> <dr-spangle@dr-spangle-PC.(none)>
Roselyn Coales <github@spangle.org.uk> <joshua.coales@featurespace.co.uk>
