<!DOCTYPE config SYSTEM "config.dtd"><config>
<default_nick>Hallo</default_nick>
<default_prefix>False</default_prefix>
<default_full_name>HalloBot HalloHost HalloServer :a bot by spangle</default_full_name>
<function_dispatcher>
	<module_list>
		<module>
			<name>AsciiArt</name>
		</module>
		<module>
			<name>Bio</name>
		</module>
		<module>
			<name>ChannelControl</name>
		</module>
		<module>
			<name>Convert</name>
		</module>
		<module>
			<name>Euler</name>
		</module>
		<module>
			<name>Furry</name>
		</module>
		<module>
			<name>Games</name>
		</module>
		<module>
			<name>HalloControl</name>
		</module>
		<module>
			<name>Lookup</name>
		</module>
		<module>
			<name>Math</name>
		</module>
		<module>
			<name>PermissionControl</name>
		</module>
		<module>
			<name>Pokemon</name>
		</module>
		<module>
			<name>Pony</name>
		</module>
		<module>
			<name>Random</name>
		</module>
		<module>
			<name>ServerControl</name>
		</module>
		<module>
			<name>SillyEtd</name>
		</module>
	</module_list>
</function_dispatcher>
<server_list>
	<server>
		<server_type>irc</server_type>
		<server_name>shadowworld</server_name>
		<auto_connect>True</auto_connect>
		<channel_list>
			<channel>
				<channel_name>#hallotest</channel_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<passive_enabled>True</passive_enabled>
				<auto_join>True</auto_join>
			</channel>
			<channel>
				<channel_name>#ecco-the-dolphin</channel_name>
				<logging>True</logging>
				<caps_lock>True</caps_lock>
				<passive_enabled>True</passive_enabled>
				<auto_join>True</auto_join>
			</channel>
			<channel>
				<channel_name>#beringsea</channel_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<passive_enabled>True</passive_enabled>
				<auto_join>True</auto_join>
			</channel>
		</channel_list>
		<user_list>
			<user>
				<user_name>deer-spangle</user_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<user_group_membership>
					<user_group_name>god</user_group_name>
				</user_group_membership>
			</user>
			<user>
				<user_name>c00242</user_name>
				<logging>True</logging>
				<caps_lock>True</caps_lock>
				<user_group_membership>
					<user_group_name>god</user_group_name>
				</user_group_membership>
			</user>
			<user>
				<user_name>zephyr</user_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<user_group_membership>
					<user_group_name>god</user_group_name>
				</user_group_membership>
			</user>
			<user>
				<user_name>ari</user_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<user_group_membership>
					<user_group_name>operator</user_group_name>
				</user_group_membership>
			</user>
		</user_list>
		<server_address>irc.shadowworld.net</server_address>
		<server_port>6669</server_port>
		<nickserv>
			<nick>nickserv</nick>
			<password>lightside</password>
			<identity_command>status</identity_command>
			<identity_response>^status [^ ]+ 3$</identity_response>
		</nickserv>
	</server>
	<server>
		<server_type>irc</server_type>
		<server_name>psigenix</server_name>
		<auto_connect>True</auto_connect>
		<channel_list>
			<channel>
				<channel_name>#hallotest</channel_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<passive_enabled>True</passive_enabled>
				<auto_join>True</auto_join>
			</channel>
			<channel>
				<channel_name>#micronations</channel_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<passive_enabled>True</passive_enabled>
				<auto_join>True</auto_join>
			</channel>
		</channel_list>
		<user_list>
			<user>
				<user_name>deer-spangle</user_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<user_group_membership>
					<user_group_name>god</user_group_name>
				</user_group_membership>
			</user>
		</user_list>
		<server_address>irc.psigenix.net</server_address>
		<server_port>6666</server_port>
		<nickserv>
			<nick>nickserv</nick>
			<password>lightside</password>
			<identity_command>status</identity_command>
			<identity_response>^status [^ ]+ 3$</identity_response>
		</nickserv>
	</server>
	<server>
		<server_type>irc</server_type>
		<server_name>canternet</server_name>
		<auto_connect>True</auto_connect>
		<channel_list>
			<channel>
				<channel_name>#hallotest</channel_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<passive_enabled>True</passive_enabled>
				<auto_join>True</auto_join>
			</channel>
			<channel>
				<channel_name>#sexydragon</channel_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<passive_enabled>True</passive_enabled>
				<auto_join>True</auto_join>
			</channel>
			<channel>
				<channel_name>#sexydeer</channel_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<passive_enabled>True</passive_enabled>
				<auto_join>True</auto_join>
			</channel>
			<channel>
				<channel_name>#cloudsdaleunderground</channel_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<passive_enabled>True</passive_enabled>
				<auto_join>True</auto_join>
			</channel>
			<channel>
				<channel_name>#ukofequestriaircstaff</channel_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<password>mareplaysellsponies</password>
				<passive_enabled>True</passive_enabled>
				<auto_join>False</auto_join>
			</channel>
		</channel_list>
		<user_list>
			<user>
				<user_name>deer-spangle</user_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<user_group_membership>
					<user_group_name>god</user_group_name>
				</user_group_membership>
			</user>
			<user>
				<user_name>zephyr</user_name>
				<logging>True</logging>
				<caps_lock>False</caps_lock>
				<user_group_membership>
					<user_group_name>god</user_group_name>
				</user_group_membership>
			</user>
		</user_list>
		<server_address>irc.canternet.org</server_address>
		<server_port>6666</server_port>
		<nickserv>
			<nick>nickserv</nick>
			<password>lightside</password>
			<identity_command>acc</identity_command>
			<identity_response>^[^ ]+ acc 3 [^ ]$</identity_response>
		</nickserv>
	</server>
</server_list>
<user_group_list>
	<user_group>
		<name>god</name>
		<permission_mask>
			<right_list>
				<right>
					<name>function_JoinChannel</name>
					<value>True</value>
				</right>
				<right>
					<name>function_LeaveChannel</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Shutdown</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Disconnect</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Connect</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Say</name>
					<value>True</value>
				</right>
				<right>
					<name>function_EditServer</name>
					<value>True</value>
				</right>
				<right>
					<name>function_ListUsers</name>
					<value>True</value>
				</right>
				<right>
					<name>function_ListChannels</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Permissions</name>
					<value>True</value>
				</right>
				<right>
					<name>function_ConfigSave</name>
					<value>True</value>
				</right>
				<right>
					<name>function_ModuleReload</name>
					<value>True</value>
				</right>
				<right>
					<name>function_UpdateCurrencies</name>
					<value>True</value>
				</right>
				<right>
					<name>function_ConvertSet</name>
					<value>True</value>
				</right>
				<right>
					<name>function_ConvertAddType</name>
					<value>True</value>
				</right>
				<right>
					<name>function_ConvertSetTypeDecimals</name>
					<value>True</value>
				</right>
				<right>
					<name>function_ConvertRemoveUnit</name>
					<value>True</value>
				</right>
				<right>
					<name>function_ConvertUnitAddName</name>
					<value>True</value>
				</right>
				<right>
					<name>function_ConvertUnitAddAbbreviation</name>
					<value>True</value>
				</right>
				<right>
					<name>function_ConvertUnitRemoveName</name>
					<value>True</value>
				</right>
				<right>
					<name>function_ConvertUnitSetPrefixGroup</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Longcat</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Deer</name>
					<value>True</value>
				</right>
				<right>
					<name>function_SilenceTheRabble</name>
					<value>True</value>
				</right>
				<right>
					<name>function_PokeTheAsshole</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Operator</name>
					<value>True</value>
				</right>
				<right>
					<name>function_DeOperator</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Voice</name>
					<value>True</value>
				</right>
				<right>
					<name>function_DeVoice</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Invite</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Mute</name>
					<value>True</value>
				</right>
				<right>
					<name>function_UnMute</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Kick</name>
					<value>True</value>
				</right>
			</right_list>
		</permission_mask>
	</user_group>
	<user_group>
		<name>operator</name>
		<permission_mask>
			<right_list>
				<right>
					<name>function_JoinChannel</name>
					<value>True</value>
				</right>
				<right>
					<name>function_LeaveChannel</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Say</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Deer</name>
					<value>True</value>
				</right>
				<right>
					<name>function_SilenceTheRabble</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Operator</name>
					<value>True</value>
				</right>
				<right>
					<name>function_DeOperator</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Voice</name>
					<value>True</value>
				</right>
				<right>
					<name>function_DeVoice</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Invite</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Mute</name>
					<value>True</value>
				</right>
				<right>
					<name>function_UnMute</name>
					<value>True</value>
				</right>
				<right>
					<name>function_Kick</name>
					<value>True</value>
				</right>
			</right_list>
		</permission_mask>
	</user_group>
</user_group_list>
<permission_mask>
	<right_list>
		<right>
			<name>invite_channel</name>
			<value>False</value>
		</right>
		<right>
			<name>default_function</name>
			<value>True</value>
		</right>
		<right>
			<name>function_JoinChannel</name>
			<value>False</value>
		</right>
		<right>
			<name>function_LeaveChannel</name>
			<value>False</value>
		</right>
		<right>
			<name>function_Shutdown</name>
			<value>False</value>
		</right>
		<right>
			<name>function_Disconnect</name>
			<value>False</value>
		</right>
		<right>
			<name>function_Connect</name>
			<value>False</value>
		</right>
		<right>
			<name>function_Say</name>
			<value>False</value>
		</right>
		<right>
			<name>function_EditServer</name>
			<value>False</value>
		</right>
		<right>
			<name>function_ListUsers</name>
			<value>False</value>
		</right>
		<right>
			<name>function_ListChannels</name>
			<value>False</value>
		</right>
		<right>
			<name>function_Permissions</name>
			<value>False</value>
		</right>
		<right>
			<name>function_ConfigSave</name>
			<value>False</value>
		</right>
		<right>
			<name>function_ModuleReload</name>
			<value>False</value>
		</right>
		<right>
			<name>function_UpdateCurrencies</name>
			<value>False</value>
		</right>
		<right>
			<name>function_ConvertSet</name>
			<value>False</value>
		</right>
		<right>
			<name>function_ConvertAddType</name>
			<value>False</value>
		</right>
		<right>
			<name>function_ConvertSetTypeDecimals</name>
			<value>False</value>
		</right>
		<right>
			<name>function_ConvertRemoveUnit</name>
			<value>False</value>
		</right>
		<right>
			<name>function_ConvertUnitAddName</name>
			<value>False</value>
		</right>
		<right>
			<name>function_ConvertUnitAddAbbreviation</name>
			<value>False</value>
		</right>
		<right>
			<name>function_ConvertUnitRemoveName</name>
			<value>False</value>
		</right>
		<right>
			<name>function_ConvertUnitSetPrefixGroup</name>
			<value>False</value>
		</right>
		<right>
			<name>function_Longcat</name>
			<value>False</value>
		</right>
		<right>
			<name>function_Deer</name>
			<value>False</value>
		</right>
		<right>
			<name>function_SilenceTheRabble</name>
			<value>False</value>
		</right>
		<right>
			<name>function_PokeTheAsshole</name>
			<value>False</value>
		</right>
		<right>
			<name>function_Operator</name>
			<value>False</value>
		</right>
		<right>
			<name>function_DeOperator</name>
			<value>False</value>
		</right>
		<right>
			<name>function_Voice</name>
			<value>False</value>
		</right>
		<right>
			<name>function_DeVoice</name>
			<value>False</value>
		</right>
		<right>
			<name>function_Invite</name>
			<value>False</value>
		</right>
		<right>
			<name>function_Mute</name>
			<value>False</value>
		</right>
		<right>
			<name>function_UnMute</name>
			<value>False</value>
		</right>
		<right>
			<name>function_Kick</name>
			<value>False</value>
		</right>
	</right_list>
</permission_mask>
</config>